@import "../mixer";
@import "../varibles";

.footer {
    background-color: #002529;
    padding: 48px 0;
}

.inner-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap
}

.footer-left__list {
    @include reset-list;
    margin-top: 25px;
}

.footer-midle {
    width: 40%;
}

.footer-midle__info {
    width: 200px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.footer-right {
    width: 30%;
    text-align: right;
}

.footer-right__list {
    @include reset-list;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer-right__item ~ .footer-right__item{
    margin-left:16px ;
}

@keyframes footer-item__img{
    0%{
    fill: chartreuse;
    }
    50%{
        transform: rotateY(180deg);
    
    }
    100%{
        transform: rotateY(360deg);
        
    }
}
.footer-item__img{
    animation: 2s linear 0s infinite reverse footer-item__img;
}

@keyframes footer-item__img-path{
    0%{
    fill: rgb(21, 255, 0);
    }
    50%{
        fill: #ff0000;
    }
    100%{
        fill: rgb(21, 255, 0);
    }
}
.footer-item__img path{
    animation: 2s linear 0s infinite reverse footer-item__img-path;
}

.footer-right__info {
    margin-top: 35px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;
    white-space: nowrap;
    opacity: 0.6;
}
@include breakpoint-tablet(768px){
    .inner-footer{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        padding-bottom: 50px;
    }
    .footer-midle__info{
        position: absolute;
        right: 0;
        top: 0px;
        text-align: right;
    }
    .footer-right{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-right__list{
        position: absolute;
        left: 0;
        top: 120px;
    }

    .footer-right__info{
        margin-left: auto;
       margin-right: auto;
        transform: translateY(80px) translateX(-40px);
        margin-block-end: 0em;
        margin-right: 40px;
    }
}

@include breakpoint-mobile(440px){
   .inner-footer{
       display: flex;
       flex-direction: column;
   }
   .footer-left{
       margin-left: 20px;
   }
   .footer-left__list{
    margin-left: 10px;
   }
   .footer-midle{
       width: auto;
   }
   .footer-midle__info{
       position: static;
       text-align: center;
       margin-left: auto;
       margin-right: auto;
       width: 200px;
   }
   .footer-right{
       width: 50%;
       margin-left: auto;
       margin-right: auto;
   }
   .footer-right__list{
    position: static;
    transform: translateX(-20%);
    padding-bottom: 0;
   }
   .footer-right__info{
       margin-top: 0;
       font-size: 14px;
   }
}